@import "/src/styles.scss";

.bold-text {
  @include bold-font;
}
.inter-bold-text {
  @include inter-bold-font;
}

.document {
  border-radius: 8px;
  border: 1px solid rgba(222, 226, 230, 0.6);
  padding: 35px 30px;
  background: #fff;
}

section {
  @include inter-regular-font;
  .bg-white {
    border-radius: 8px;
    .dark {
      background: #2f2f2f;
    }
    mat-icon {
      color: $light-red;
    }
  }
  .card {
    color: #030229;
    border-radius: 8px;
    border: 0px solid #ccc;
    padding: 20px 20px;
  }

  .dropdown-wrap {
    background: #e6e8ec;
    border: 1px solid rgba(222, 226, 230, 0.6);
    border-radius: 4px;
    padding: 1em;
  }
}
