<header>
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <img
        src="/assets/imgs/logo.svg"
        alt="icon"
        class="me-3"
        width="55px"
        height="55px"
      />
      <div class="fs-5 bold-text">Rydal Mews</div>
    </div>

    <div class="d-flex align-items-center">
      <!-- <div class="icon me-4" [matMenuTriggerFor]="notifications"> -->
      <div class="icon me-4">
        <img src="/assets/imgs/Notification.svg" alt="bell-icon" />
      </div>

      <div class="d-flex align-items-center mx-3">
        <!-- <img src="/assets/imgs/profile.svg" alt="bell-icon" /> -->
        <mat-icon>account_circle</mat-icon>
        <div class="ms-2 fs-6">Vendor</div>
      </div>

      <!-- <div class="dropdown dropdown-wrap">
        <div class="d-flex align-items-center">
          <div class="avatar"></div>
          <div class="d-block">
            <label class="profile-name"
              >Rydal Mews <span>Admin (B2B)</span></label
            >
            <label class="profile-name" *ngIf="!userData"
              >Adebanjo Samuel</label
            >
          </div>
          <mat-icon class="cursor">expand_more</mat-icon>
        </div>
      </div> -->
    </div>
  </div>
</header>
