@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import "material-icons/iconfont/material-icons.scss";
@import "../src/scss/_typography.scss";
@import "../src/scss/_vars.scss";
@import "../src/scss/_button.scss";
@import "../src/scss/_inputs.scss";
@import "../src/scss/_misc.scss";
// @import "node_modules/ngx-toastr/toastr";

html,
body {
  height: 100%;
  @include regular-font;
}

html {
  scroll-behavior: smooth;
}

html {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

mat-spinner {
  width: 20px !important;
  height: 20px !important;
  margin-left: 10px;
  svg {
    width: 20px !important;
    height: 20px !important;
  }
}

.search-option {
  display: flex;
  border: 1px solid #ccc;
  padding: 7px;
  margin-bottom: 0em;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

// .mat-step-header {
//   pointer-events: none !important;
// }

.mat-horizontal-stepper-header {
  flex-direction: column-reverse !important;
  .mat-step-label {
    padding-bottom: 1.9em !important;
    color: rgb(0 0 0 / 70%) !important;
  }
  .mat-step-icon {
    border: 1px solid rgba(105, 105, 105, 0.54);
    // background-color: #fff !important;
    color: rgba(105, 105, 105, 0.54);
  }
}
.mat-stepper-horizontal-line {
  min-width: 50px !important;
}

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
  z-index: 99999 !important;
}

ng-otp-input {
  .ng-otp-input-wrapper {
    .otp-input {
      margin-right: 17px !important;
    }
  }
  .otp-input {
    // width: 60px !important;
    border-radius: 8px !important;
  }
}
