.grid {
  display: grid;
  &.grid-row-gap-20 {
    grid-row-gap: 20px;
  }
  &.grid-gap-30 {
    grid-column-gap: 30px;
  }
  &.grid-gap-60 {
    grid-column-gap: 60px;
  }
  &.grid-gap-15 {
    grid-column-gap: 15px;
  }
  &.grid-row-gap-15 {
    grid-row-gap: 15px;
  }
  &--1fr--1fr {
    grid-template-columns: 1fr 1fr;
  }
  &--3fr--3fr {
    grid-template-columns: 6fr 3fr;
  }
  &--1fr--3fr {
    grid-template-columns: 1fr 3fr;
  }
  &--2fr--3fr {
    grid-template-columns: 2.5fr 3fr;
  }
  &--2fr--1fr {
    grid-template-columns: 2fr 1fr;
  }
  &--repeat--one {
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    align-items: center;
    &.align-start {
      align-items: flex-start;
    }
  }
  &--repeat--two {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    align-items: center;
    &.align-start {
      align-items: flex-start;
    }
  }
  &--repeat--three {
    grid-template-columns: auto auto auto;
    grid-column-gap: 20px;
  }
  &--repeat--four {
    grid-template-columns: repeat(4, 24%);
  }
  &--repeat--five {
    grid-template-columns: repeat(5, 20%);
  }
  &--repeat--six {
    grid-template-columns: repeat(6, 15.5%);
  }
  &.grid-four-alt {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: repeat(4, 22.8%);
  }
  &.grid-column-gap-30 {
    grid-column-gap: 30px;
  }

  @media only screen and (min-width: 320px) and (max-width: 991px) {
    grid-template-columns: auto;
    &--2fr--1fr {
      grid-template-columns: auto;
      grid-row-gap: 20px;
    }
    &--1fr--2fr {
      grid-template-columns: auto;
    }
    .banner-layout {
      display: none;
    }
    .form-wrap {
      &.w-400,
      &.w-450 {
        width: auto;
      }

      form {
        padding: 1em 0em;
      }
      .justify-content-end {
        justify-content: center !important;
      }
    }
  }
  @media only screen and (min-width: 1200px) and (max-width: 1439px) {
  }
  @media only screen and (min-width: 1680px) {
  }
}
.relative {
  position: relative;
}
.cursor {
  cursor: pointer;
  // text-decoration: none;
  &.default {
    color: black;
  }
}
.title-sm {
  font-size: 18px;
  @include bold-font;
  color: $black;
  label {
    display: block;
  }
  @media screen and (min-width: 1680px) {
    font-size: 22px;
  }
}
.ps-6 {
  padding-left: 2.5rem !important;
}
.f16 {
  font-size: 16px;
}
.f20 {
  font-size: 20px;
}
.bold-text {
  @include bold-font;
}
.normal-text {
  @include regular-font;
}
.light-text {
  @include regular-font;
  color: darkgrey;
}
.w-100 {
  width: 100% !important;
}
.h-100 {
  height: 100vh !important;
}
.title {
  font-size: 30px;
  line-height: initial;
  &.bold {
    @include bold-font;
  }
  &.md {
    font-size: 20px;
  }
  &.txt-14 {
    font-size: 14px;
  }
  &.txt-grey {
    color: #a5a5a5;
  }
  @media only screen and (min-width: 320px) and (max-width: 991px) {
    font-size: 22px;
    &.mb-center {
      text-align: center;
    }
  }
  @media screen and (min-width: 1024px) and (max-width: 1200px) {
    font-size: 19px;
  }
  @media screen and (min-width: 1680px) {
    font-size: 40px;
    p {
      font-size: 18px;
    }
  }
}
.empty-state {
  min-height: 300px;
}
.txt-red {
  color: $red !important;
}
.txt-light-red {
  color: $light-red !important;
}
.txt-white {
  color: white !important;
}
.bg-green {
  background-color: $green !important;
}
.bg-gray {
  background-color: #f2f2f2 !important;
}
.txt-grey {
  color: $grey !important;
}
.txt-orange {
  color: $orange !important;
}
.pos-abs {
  position: absolute !important;
}
.w-300 {
  width: 300px;
}
.w-40 {
  width: 40% !important;
}
.w-30 {
  width: 30% !important;
}
.w-80 {
  width: 80% !important;
}
.w-90 {
  width: 90% !important;
}
.w-400 {
  width: 400px;
  margin: 0 auto;
}
.w-500 {
  width: 500px;
  margin: 0 auto;
}
.w-650 {
  width: 650px;
  margin: 0 auto;
}
.w-700 {
  width: 700px;
  margin: 0 auto;
}
.w--800 {
  width: 800px;
  margin: 0 auto;
}
.w--900 {
  width: 900px;
  margin: 0 auto;
}
.w-450 {
  width: 450px;
  margin: 0 auto;
}
.w-full {
  width: 100%;
}
::-webkit-scrollbar {
  width: 0.7em;
  height: 0.7em;
}
::-webkit-scrollbar-track {
  border: solid 10px transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 10px 10px darkgrey;
  border: solid 3px transparent;
}
/* Custom table style */
.tbl-wrap {
  background: white;
  padding: 1em 0em 2em;
  border-radius: 8px;
  .toolbar {
    position: relative;
    z-index: 1 !important;
  }
  .custom-table {
    position: relative;
    z-index: 1 !important;
    border-collapse: separate;
    border-spacing: 0em 0em;
    padding: 0em;
    @include inter-regular-font;
    &.w-100 {
      width: 100%;
    }
    thead th {
      line-height: 17px;
      letter-spacing: 0.0115em;
      vertical-align: middle;
      padding: 1.2rem 0em;
      font-size: 12px;
      color: $black;
      text-transform: uppercase;
      background: rgba(53, 53, 53, 0.1);
      font-weight: 500;
      border-bottom: none;
      width: 20em;
      &:first-child {
        padding: 1.2rem 3.5em;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
      &:last-child {
        padding: 1.2rem 3em 1.2rem 0em;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }
    tbody tr {
      &:hover {
        background: #efeded;
      }
      td {
        letter-spacing: 0.0115em;
        vertical-align: middle;
        padding: 1rem 0;
        color: #080730;
        font-size: 14px;
        text-transform: capitalize;
        padding-right: 1.5em;
        span {
          &.lowercase {
            text-transform: lowercase;
          }
          &.name-column {
            color: $green;
          }
          &.cover-status {
            &.red {
              color: #f48220;
              padding: 12px 25px;
              border-radius: 5px;
              background: rgba(255, 131, 0, 0.1);
            }
            &.grey {
              color: #383838;
              padding: 8px 25px;
              border-radius: 24px;
              background: rgb(107 107 107 / 30%);
            }
            &.green {
              color: #32a071;
              padding: 12px 25px;
              border-radius: 5px;
              background: rgba(0, 255, 26, 0.1);
            }
            &.blue {
              color: #00356b;
              padding: 8px 25px;
              border-radius: 24px;
              background: rgba(0, 125, 255, 0.12);
            }
            &.brown {
              color: #512215;
              padding: 8px 25px;
              border-radius: 24px;
              background: #fee9e1;
            }
            &.brown2 {
              color: #512215;
              padding: 8px 25px;
              border-radius: 24px;
              background: #fee9e1;
            }
            &.status {
              color: #951621;
              padding: 8px 15px;
              border-radius: 24px;
              background: #f1d7d8;
            }
          }

          &.tag {
            padding: 8px 3px;
            border-radius: 24px;
            font-size: 13px;
            font-weight: 500;
            display: block;
            &.green {
              background: rgba($green, 0.1);
              color: $green;
              text-align: center;
            }
            &.purple {
              background: rgba($purple, 0.1);
              color: $purple;
              text-align: center;
            }
            &.red {
              background: rgba($red, 0.1);
              color: $red;
              text-align: center;
            }
            &.status-approved {
              background: rgba($green, 0.1);
              color: $green;
              text-align: center;
            }
            &.status-pending {
              background: rgba($red, 0.1);
              color: $red;
              text-align: center;
            }
          }
          &.status-dot {
            position: relative;
            font-size: 14px;
            font-weight: 400;
            &.red {
              &::before {
                background: #ce041b;
              }
            }
            &.orange {
              &::before {
                background: #fb9318;
              }
            }
            &.purple {
              &::before {
                background: #ad2eda;
              }
            }
            &.green {
              &::before {
                background: #32a071;
              }
            }
            &::before {
              content: "";
              position: absolute;
              width: 8px;
              height: 8px;
              border-radius: 50%;
              left: -1.3em;
              top: 0.35em;
            }
          }
        }
        .dropdown-toggle {
          cursor: pointer;
          ion-icon {
            font-size: 24px;
            color: #6c757d;
          }
          &:after {
            display: none;
          }
        }
        &:nth-child(1) {
          padding-left: 1em;
          padding-right: 1.5em;
        }
      }
      &.bg-wrap {
        background: #f5f5fa;
        border-top: 1px solid #e6e6e6;
        td {
          border-top: 1px solid rgba(#ccc, 27%);
        }
      }
      &.border-red {
        td:first-child {
          border-left: 2px solid $red;
        }
      }
      &.border-green {
        td:first-child {
          border-left: 2px solid $green;
        }
      }
    }
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    overflow: hidden;
    overflow-x: scroll;
    width: auto;
    .custom-table {
      &.w-100 {
        width: 1000px !important;
      }
    }
    .custom-scroll {
      width: max-content;
    }
  }
}
nav .pagination {
  display: flex;
  align-items: center;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  margin-bottom: 0em;
}
/* Modal style*/
.modal {
  .modal-dialog {
    margin-top: 5%;
    min-width: fit-content;
  }
  .modal-content-wrap {
    pointer-events: auto;
    .modal-header {
      background: transparent;
      padding: 1em 0em 1.5em;
      position: relative;
      border-bottom: none;
      align-items: center;
      .d-flex {
        cursor: pointer;
        position: relative;
        z-index: 2;
        ion-icon {
          font-size: 18px;
          margin-right: 9px;
          color: $white;
        }
        span {
          color: $purple;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
    .modal-body {
      position: relative;
      background: $white;
      padding: 0em 0em 0em;
      box-sizing: border-box;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.03);
      border-radius: 16px;
      .header-foot {
        border-bottom: 1px solid #f2f2f2;
        // background: #f5f5fa;
        ion-icon {
          font-size: 27px;
          color: #8f92a1;
          cursor: pointer;
        }
        .title {
          font-size: 18px;
          font-weight: 500;
          display: flex;
          &.md {
            color: $red;
            line-height: 3.3em;
          }
          flex-direction: column;
          span {
            font-size: 13px;
            color: #8f92a1;
          }
        }
      }
      .header-top {
        border-bottom: 1px solid #f2f2f2;
        background: #f5f5fa;
        ion-icon {
          font-size: 27px;
          color: #8f92a1;
          cursor: pointer;
        }
        .title {
          font-size: 18px;
          font-weight: 500;
          display: flex;
          &.md {
            color: $red;
            line-height: 1.3em;
          }
          flex-direction: column;
          span {
            font-size: 13px;
            color: #8f92a1;
          }
        }
      }
      p {
        color: $light-grey;
        font-size: 18px;
        &.center {
          text-align: center;
        }
        &.f14 {
          font-size: 14px;
        }
      }
      .txt-green {
        color: $green !important;
      }
      .icon {
        color: #b0b7c3;
      }
      .form-wrap {
        padding: 2em 2em;
        margin: 2em 0em;
        background: #ffffff;
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        min-width: 500px;
        &.w--500 {
          width: 502px;
        }
        .action {
          span {
            font-size: 12px;
            width: 213px;
            color: #b0b7c3;
          }
        }
        &.scroll {
          height: 500px;
          overflow-y: scroll;
        }
      }

      .w--500 {
        width: 500px;
      }
      .w--600 {
        width: 600px;
      }
      .w--800 {
        width: 800px;
      }
      .w--400 {
        width: 400px;
      }
      .avatr {
        border: 1px solid #ccc;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 100px;
        }
      }
      .bold-text {
        @include bold-font;
      }
      .txt-red {
        color: $red;
      }
      .txt-green {
        color: $green !important;
      }
      .scroll-panel {
        height: 300px;
        overflow-y: scroll;
      }
      .details-wrap-list {
        // padding: 1em;
        .placeholder {
          background: rgba(93, 212, 147, 0.2);
          color: #424242;
          font-size: 12px;
          padding: 7px 23px;
        }
        .tag {
          padding: 7px 23px;
          font-size: 12px;
          font-weight: 500;
          display: block;
          &.green {
            background: rgba($green, 0.2);
            color: $green;
            text-align: center;
          }
          &.red {
            background: rgba($red, 0.1);
            color: $red;
            text-align: center;
          }
          &.purple {
            background: rgba($purple, 0.1);
            color: $purple;
            text-align: center;
          }
        }
        .grid {
          .avatar {
            img {
              border-radius: 50%;
              width: 150px;
              height: 150px;
            }
          }
          label {
            font-size: 13px;
            color: rgba($light-grey, 0.8);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 40%;
            small {
              font-size: 12px;
              display: block;
            }
          }
        }
      }
      .table-container {
        padding: 2em 0em;
        height: 300px;
        overflow-y: scroll;
        .table-head {
          display: grid;
          grid-template-columns: repeat(3, 33.1%);
          strong {
            @include bold-font;
            padding-bottom: 1em;
          }
        }
        .table-content {
          display: grid;
          grid-template-columns: repeat(3, 33.1%);
          list-style: none;
          padding: 0em;
          margin: 0em;
          li {
            margin-bottom: 1em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 78%;
          }
        }
        .footer {
          display: grid;
          grid-template-columns: repeat(3, 33.1%);
          label {
            @include bold-font;
          }
        }
      }
      .file__content {
        background: $white;
        padding: 1em 1em;
        width: 500px;
        figure {
          min-height: 200px;
          margin: 1em 0em;
          .dashed-border {
            padding: 1em;
            border: 2px dashed #dfe3e8;
          }
        }
      }
      .center {
        width: 500px;
        padding: 1em 3em;
        // text-align: center;
        img {
          width: 160px;
        }
        .block {
          display: block;
          &.sm-txt {
            color: rgba($black, 0.4);
            font-size: 14px;
            line-height: 21px;
            margin-top: 10px;
          }
        }
        .pass-align {
          text-align: left !important;
        }
      }
      .content {
        p {
          color: #063a4f;
          opacity: 0.8;
          font-size: 13px;
          text-align: left;
        }
        h3 {
          line-height: 36px;
          position: relative;
          font-size: 18px;
          color: #063a4f;
          font-weight: 700;
          margin: 1em 0 0.5em;
        }
        .unordered {
          padding: 0 1em;
          color: #063a4f;
          opacity: 0.8;
          font-size: 13px;
          margin: 1em 0.5em;
          list-style: none;
          position: relative;
          li {
            margin: 0.5em 0;
            padding: 0 1em;
            position: relative;
            &:before {
              content: "";
              height: 11px;
              width: 11px;
              border-radius: 50%;
              background: rgba($purple, 0.8);
              position: absolute;
              left: -11px;
              top: 4px;
            }
          }
        }
      }
      .f20 {
        font-size: 20px;
      }
      .f30 {
        font-size: 30px;
        line-height: 30px;
      }
      .view-image-layout {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: -webkit-fill-available;
        height: 100%;
        background: #00000078;
        z-index: 1;
        align-content: center;
        justify-content: center;
        align-items: center;
        display: flex;
        .layout-content {
          position: relative;
          display: flex;
          flex-direction: column;
          width: 600px;
          height: 600px;
          align-items: center;
          justify-content: center;
          background: white;
          z-index: 2;

          .closer {
            position: relative;
            background: #f5f5fa;
            width: 100%;
          }
          .avatar-placeholder {
            height: 100%;
            width: -webkit-fill-available;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            background-position: center !important;
            margin: 2em;
          }
          .layout-footer {
            z-index: 0;
            width: -webkit-fill-available;
            background: white;
          }
        }
      }
    }
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    .modal-dialog {
      position: relative;
      top: 0;
      right: 0;
    }
    .modal-content-wrap {
      .modal-body {
        .form-wrap {
          padding: 2.5em 0.5em;
          min-width: auto;
          &.px-5 {
            padding: 2em 1em !important;
          }
          .grid {
            grid-template-columns: auto;
          }
        }
        .center {
          width: auto;
          padding: 3em 0em;
          .action {
            flex-direction: column;
            width: 100%;
            button {
              width: 100%;
              &:first-child {
                margin-bottom: 1em;
              }
              &.me-5 {
                margin-right: 0em !important;
              }
            }
          }
        }
        .file__content {
          width: auto;
        }
      }
    }
  }
}
._visible {
  visibility: visible;
  &.hide {
    visibility: hidden !important;
  }
  &.hide_ {
    display: none;
  }
}
._visble {
  &.hide {
    display: none !important;
  }
}
.mat-paginator {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 1000px;
  }
}
.mat-paginator-container {
  padding: 0em 3em !important;
}

.mat-paginator-container {
  justify-content: space-between !important;
}
.adjust-wrap {
  .adjust-flex {
    padding: 0em 0.5em;
    .mr-1 {
      margin-right: 1em;
    }
  }
}

/* Material stepper style*/
mat-stepper {
  @include regular-font;
}

.mat-horizontal-stepper-header .mat-step-icon {
  width: 50px !important;
  height: 50px !important;
}
.mat-step-header .mat-step-icon-selected {
  background-color: #7bbc42 !important;
  color: rgb(0 0 0 / 70%);
}
.mat-step-header .mat-step-icon {
  background-color: #fff;
}
.mat-step-header .mat-step-icon-state-edit {
  background-color: #7bbc42;
}
.mat-step-header .mat-step-icon-state-done {
  background-color: #7bbc42;
}

/* Material expansion panel style*/
.mat-expansion-panel {
  box-shadow: none;
}

.mat-expansion-panel:not(.mat-elevation-z) {
  box-shadow: none;
}

/* Material checkbox style*/
mat-checkbox {
  label {
    margin: 0em !important;
  }
  .mat-checkbox-layout .mat-checkbox-label {
    font-size: 14px;
    color: $black;
    @include inter-regular-font;
  }
  .mat-checkbox-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: break-spaces;
  }
}
.mat-checkbox-inner-container {
  margin-right: 18px !important;
}
.mat-checkbox-frame {
  background-color: rgb(224 224 224 / 0.5) !important;
  border-width: 0px !important;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background: $light-red !important;
}
.mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent
  .mat-ripple-element {
  background: $light-red !important;
}
.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent
  .mat-ripple-element {
  background: $light-red !important;
}
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background: #9e9e9ea6 !important;
}
/* Material radio button style*/
mat-radio-group {
  .mat-radio-button {
    border: none !important;
    padding: 0.5em 0em;
    &.mat-accent {
      .mat-radio-inner-circle {
        background-color: $light-red;
      }
      .mat-radio-outer-circle {
        border-color: rgba($black, 20%);
      }
      .mat-radio-persistent-ripple {
        background-color: $light-red;
      }
      &:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
        background-color: $light-red;
      }
      &.mat-radio-checked {
        border: 1px solid $light-red;
        .mat-radio-outer-circle {
          border-color: $light-red;
        }

        .mat-ripple-element {
          background-color: $light-red;
        }
      }
    }
  }
  .mat-radio-label {
    margin: 0em;
    cursor: pointer;
    .label {
      font-size: 14px;
      color: $dark-grey;
    }
    span {
      display: block;
      font-size: 14px;
      // color: rgba($black, 0.4);
      text-overflow: ellipsis;
      white-space: break-spaces;
    }
  }

  .mat-radio-label-content {
    padding-left: 12px;
  }
}
mat-radio-button {
  &.custom {
    width: -webkit-fill-available;
    display: flex;
    .mat-radio-label {
      border-top: 1px solid #ccc;
      padding: 0.5em !important;
      display: flex;
      justify-content: center;
    }
  }
}
mat-select {
  border: 1px solid;
  border-radius: 4px;
  padding: 0.9em 1.5em;
  border: 1px solid #cbcbcd;
  font-size: 14px;
  @include regular-font;
}
mat-select-trigger {
  .more {
    margin-left: 9px;
    font-size: 12px;
    font-style: italic;
    color: $red;
  }
}
.mat-tab-group {
  @include inter-regular-font;
  &.mat-primary .mat-ink-bar {
    background: $red;
  }
}
.mat-tab-label {
  @include inter-regular-font;
}
.mat-menu-content:not(:empty) {
  padding-top: 0 !important;
  display: flex;
  flex-direction: column;
  // width: 350px;
  // padding: 1em 0em !important;
  &.padded-menu {
    padding: 1em !important;
  }
  .mat-flat-button {
    margin-bottom: 1em;
    &:last-child {
      margin-bottom: 0em;
    }
  }
  .notif {
    background-color: #f6dbdb;
  }
  .menu-item {
    padding: 15px !important;
  }
  .notif-title {
    color: #030229;
  }
  .txt-grey {
    color: #6b6b6b;
  }
  .txt-blue {
    color: #030229;
  }
  .sm {
    font-size: 11px;
  }
}
.mat-menu-panel {
  max-width: 350px !important;
}
.mat-pseudo-checkbox-checked {
  background: $red !important;
}
/* Material slide-toggle button style*/
.mat-slide-toggle.mat-checked {
  .mat-slide-toggle-thumb {
    background-color: $red !important;
  }
  .mat-slide-toggle-bar {
    background-color: rgba($red, 0.54) !important;
  }
  .mat-ripple-element {
    background-color: $red !important;
  }
}

.mat-tab-group {
  @include inter-regular-font;
  background: #ffff;
  &.mat-primary .mat-ink-bar {
    background: $light-red;
    color: #7bbc42;
  }
}

owl-carousel-o {
  .owl-carousel {
    .owl-nav {
      position: absolute !important;
      top: 1em;
      right: 1em;
    }
    .owl-prev .owl-next {
      border-radius: 50% !important;
      background: transparent !important;
    }
    .owl-dots {
      position: relative;
      bottom: 1.5em;
    }
    .owl-dot {
      zoom: 0.7 !important;
    }
  }
}

/* Material slide-toggle button style*/
.mat-slide-toggle.mat-checked {
  .mat-slide-toggle-thumb {
    background-color: $green !important;
  }
  .mat-slide-toggle-bar {
    background-color: rgba($green, 0.54) !important;
  }
  .mat-ripple-element {
    background-color: $green !important;
  }
}
